/* Base HTML Styles */

:root {
	--pink: #DC5354;
	--yellow: #FBD15B;
	--green: #669999;
	--blue: #0A335B;
	--black: #111111;
	--gray: #E9E5D9;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
	margin-left: 30px;
	margin-right: 30px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */

h1 {
	font-size: 1rem;
	/* font-weight: normal; */
	color:#DC5354;
}

h2 {
	font-size: 4rem;
	color:#DC5354;
	padding: 24px;
}

h3 {
	font-size: 2rem;
	color:#0A335B;
	padding: 24px;
}

a {
	text-decoration: none;
}

.hero-accent {
	font-weight: bold;
}

/* Header */

.desktop-nav {
	display: none;
}

@media (min-width: 768px) {
	.desktop-nav {
		display: block;
	}
	.mobile-nav {
		display: none;
	}
}

.mobile-nav a {
	text-decoration: none;
	color: var(--black);
	display: block;
	padding: 4px 16px;
}

header button {
	all: unset;
}

@media (min-width: 768px){
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header a {
		text-decoration: none;
		color: var(--black);
	}

	nav {
		display: inline-block;
	}

	header nav ul {
		display: flex;
		gap: 24px;
		margin-right: 16px
	}

	.hamburger-icon {
		display: none;
	}
}

.info-icon {
	height: 30px;
	margin-right: 16px;
}

.hamburger-icon {
	height: 50px;
}

.mobile-header {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Hero */

.my-info, .geometric-bg {
	flex: 1;
}

.geometric-bg {
	background-image: url('../img/geometric-image.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: 100%;
	margin-bottom: 16px;
	margin-left: 16px;
}

@media (min-width: 768px){

	#hero {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.my-info {
		margin: 96px;
	}

}

/* Work */

#work {
	display: flex;
	margin: 16px;
}

#work article {
		padding: 24px;
	}

#work article .plus-icon {
	height: 20px;
	color: #0A335B;
}

#work article h4 {
	margin-bottom: 16px;
	color:#0A335B;
}

#work article p {
	margin-bottom: 16px;
}

#work .HTMLCSS {
	background-color:#E9E5D9;
	margin-right: 24px;
}

#work .Python {
	background-color:#E9E5D9;
	margin-right: 24px;
}

#work .JavaScript {
	background-color:#E9E5D9;
	margin-right: 24px;
}

#work .React {
	background-color:#E9E5D9;
}

.projectsline1 {
	justify-content: space-between;
}

.projectsline2 {
	justify-content: space-between;
}

/* About */

.my-info, .biography-bg {
	flex: 1;
}

.biography-bg {
	background-image: url('../img/headshot.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 16px;
	margin-left: 16px;
}

/* Footer */

footer {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px;
	margin-top: 24px;
}

.contact-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-icon {
	height: 30px;
}

/* Utilities */

.display-none {
	display: none;
}