/* Base HTML Styles */

:root {
	--pink: #DC5354;
	--yellow: #FBD15B;
	--green: #669999;
	--blue: #0A335B;
	--black: #111111;
	--gray: #E9E5D9;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */

label, input, textarea, select {
	display: block;
	width: 100%;
}

input, select, textarea {
	padding: 16px;
}

h1 {
	font-size: 1rem;
	/* font-weight: normal; */
	color: var(--pink);
	margin-left: 16px;
	margin-right: 16px;
}

h2 {
	font-size: 4rem;
	color: var(--pink);
	padding-top: 16px;
	padding-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
}

h3 {
	font-size: 2rem;
	color: var(--blue);
	padding-top: 16px;
	padding-bottom: 24px;
	margin-left: 16px;
	margin-right: 16px;
}

a {
	text-decoration: none;
}

.hero-accent {
	font-weight: bold;
}

/* Header */

.header{
    border-bottom: 1px solid var(--gray);
	margin-bottom: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.circle-logo {
	height: 30px;
}

.nav-logo {
	font-weight: bold;
	color: var(--pink);
	margin-left: 16px;
}

.circle-align {
	display: flex;
	flex: 1;
	align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--blue);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    color: var(--blue);
	font-weight: bold;
}

.nav-link:hover{
    color: var(--pink);
	font-weight: bold;
}

.nav-logo:hover{
    color: var(--blue);
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

	.hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero */

#hero .my-info, .geometric-bg {
	flex: 1;
	margin-bottom: 24px;
}

@media (min-width: 768px){

	#hero {
		display: flex;
		align-items: center;
		width: 100%;
		margin: none;
		margin-right: 16px;
		margin-left: 16px;
	}

	#hero .my-info {
		margin: 96px;
	}

}

/* Work */

#work article h4 {
	margin-bottom: 16px;
	color: var(--black);
}

#work article p {
	margin-bottom: 16px;
}

#work article {
	padding: 32px 16px;
	background-color: var(--gray);
	margin: 16px;
}

#work .projects {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

#work .plus-icon {
	height: 1.2em;
	width: 1.2em;
	color: var(--blue);
}


@media only screen and (max-width: 768px) {
	
	#work .projects {
		display: flex;
		flex-direction: column;
	}
}

#work .projects :hover {
	background-color: var(--yellow);
}

/* About */

#aboutme .headshot-info, .headshot-bg {
	flex: 1;
}

@media (min-width: 768px){

	#aboutme {
		display: flex;
		align-items: center;
		width: 100%;
		margin-right: 16px;
		margin-left: 16px;
	}

	#aboutme .headshot-info {
		margin: 96px;
	}

}

/* Contact */

#contact p {
	margin: none;
	font-size: 0.8rem;
}

#contact .content {
	display: flex;
	flex: 1;

}

#contact {
	padding: 48px 16px;
}

#contact input, #contact select {
	margin-bottom: 16px;
}

#contact h2 {
	margin-bottom: 16px;
}

@media (min-width: 768px){
	#contact h2 {
		text-align: center;
		font-size: 2.5rem;
	}

	#contact form {
		max-width: 60%;
		margin: 40px auto;
	}
}

#contact input[type="submit"] {
	background-color: var(--pink);
	border: 0;
	margin-top: 8px;
	cursor: pointer;
}

/* Footer */

footer {
    border-top: 1px solid var(--gray);
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	margin-bottom: 24px;
}

.triangle-icon {
	height: 30px;
	margin-left: 16px;
}

.contact-text, .social-media {
	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 16px;
}

.contact-text :hover {
    color: var(--blue);
	font-weight: bold;
}

.social-icon {
	height: 30px;
	margin-right: 16px;
	background-color: none;
}

/* Utilities */

.display-none {
	display: none;
}